<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand">GFK</a>
    </div>
    <p class="navbar-text">Employees</p>
</nav>
<br>
    <br>
        <br>
            {{outlet}}
            <br>
                <br>